body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Arial Narrow Bold', sans-serif, Helvetica, sans-serif, 'Times New Roman', Times, serif;
    background-color: rgb(12, 12, 2);
    color: aliceblue;
    align-content: center;
    text-align: center;
}